html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
}

[data-aos] {
  pointer-events: none;
}

.aos-animate {
  pointer-events: auto;
}

.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}

html {
  font-size: 10px;
  font-family: "DM Sans", sans-serif;
}

body {
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 86.1111111111%;
  margin-left: auto;
  margin-right: auto;
}

:root {
  --Inter: "Inter", sans-serif;
  --currentColor:#d9d9d9;
}

a {
  text-decoration: none;
}

.btn-common-default {
  width: 108px;
  height: 42px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid rgba(252, 90, 90, 0.4);
  outline: 2px solid transparent;
  background-color: transparent;
  transition: outline-color 0.4s;
}
.btn-common-default:hover {
  outline-color: #fff;
}
.btn-common-default.btn--common-special {
  border-radius: 8px;
  background: #fc5a5a;
  opacity: 1;
}
.btn-common-default.btn--common-special:hover {
  outline-color: #ccc;
}
.btn-common-default span {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.header {
  background-color: #1c1c24;
  padding-top: 29px;
  padding-bottom: 29px;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__header .main__header--list {
  display: flex;
  column-gap: 40px;
}

.main__header--block-logo .main__header--logo {
  color: #fff;
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__header--item {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
.main__header--item.main__header--table {
  position: relative;
}
.main__header--item:hover svg,
.main__header--item:hover .main__header--link {
  color: #fff;
}
.main__header--item:hover::after {
  display: block;
}
.main__header--item .main__header--link {
  color: #b0b0b0;
  text-align: right;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: color 0.4s;
}
.main__header--item svg {
  transition: color 0.4s;
}

.main__header--table {
  position: relative;
}
.main__header--table::after {
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: -20px;
  content: "";
  background-color: transparent;
  height: 20px;
  width: 80px;
}

.main__header--table {
  color: #b0b0b0;
}
.main__header--table:hover .main__header--products-block {
  opacity: 1;
  visibility: visible;
}

.main__header--products-block {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: -40px;
  z-index: 4;
  width: 730px;
  padding: 40px 43px 40px 45px;
  height: 433px;
  border-radius: 25px;
  background: #292932;
  transition: opacity 0.4s, visibility 0.4s;
}

.main__header--action {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.main__header--action .main__header--action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__header--products-block {
  display: flex;
  flex-direction: column;
}
.main__header--products-block .main__header--products-block-top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #555;
}
.main__header--products-block .main__header--products-block-bottom {
  display: flex;
  column-gap: 80px;
  margin-top: 30px;
}

.main__header--products-dyspatch {
  display: flex;
  column-gap: 10px;
}
.main__header--products-dyspatch .main__header--products-dyspatch-title {
  color: #fff;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__header--products-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.main__header--products-items a {
  transition: color 0.3s;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main__header--products-item--bottom-title {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main__header--products-bottom-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.main__header--products-bottom-list li > a {
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: color 0.3s;
}
.main__header--products-bottom-list li:hover a {
  color: #fff;
}

.main__header--products-items:hover a {
  color: #fff;
}

.main__header--products-item-bottom:last-of-type {
  transform: translateX(40px);
}

.hero {
  padding-top: 56px;
  padding-bottom: 80px;
  background-color: #1c1c24;
}

.hero__main {
  display: flex;
}

.hero__main--block-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 34px;
  height: 345px;
  margin-top: 34px;
}
.hero__main--block-media .hero__main--media {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.hero__main--img-media-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
  border: 1px solid rgba(210, 239, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.4s;
}
.hero__main--img-media-block svg {
  color: #d2efff;
  transition: color 0.4s;
}
.hero__main--img-media-block:hover {
  background-color: #ff974a;
}
.hero__main--img-media-block:hover svg {
  color: #1c1c24;
}

.hero__main--title-rotate {
  display: inline-block;
  width: 147px;
  height: 16px;
  white-space: nowrap;
  rotate: -90deg;
  color: #d2efff;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 6px;
}

.hero__main--block-title {
  width: 522px;
  margin-left: 96px;
}

.hero__main--title {
  margin-bottom: 12px;
  color: #fff;
  font-size: 6.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 74px; /* 115.625% */
}

.hero__main--desc {
  width: 368px;
  margin-bottom: 50px;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.hero__main--btn {
  width: 212px;
  height: 58px;
}
.hero__main--btn span {
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.hero__main--process {
  width: 454px;
  margin-left: 56px;
}

.hero__main--process-list-extra {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 63px;
  margin-left: 20px;
  row-gap: 28px;
}
.hero__main--process-list-extra .hero__main--process-back {
  margin-left: 56px;
}

.hero__main--process-extra-arrow-red, .hero__main--process-extra-arrow-green {
  position: absolute;
  z-index: 2;
}
.hero__main--process-extra-arrow-red {
  top: -70.5px;
  left: 120px;
}
.hero__main--process-extra-arrow-green {
  bottom: 2.5px;
  right: 128px;
}

.hero__main--process-block-extra {
  position: absolute;
  z-index: 3;
  top: -105px;
  right: 0;
  width: 248px;
  height: 250px;
  border-radius: 8px;
  background: #1e75ff;
}
.hero__main--process-block-extra .hero__main--process-block-extra-cover {
  padding: 20px;
}

.hero__main--process-block-circle-extra {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: -30px;
}

.hero__main--process-input {
  position: relative;
  width: 100%;
  margin-bottom: 16px;
  background-color: transparent;
  padding-bottom: 13px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.hero__main--process-input:focus {
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.hero__main--process-input::placeholder {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero__main--icon {
  position: absolute;
  top: 23px;
  right: 20px;
}

.hero__main--list-user {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}
.hero__main--list-user .hero__main--item-user {
  display: flex;
  align-items: center;
  padding: 8px 16px 9px 10px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.hero__main--avatar-user {
  width: 28px;
  height: 28px;
  margin-right: 8px;
  border-radius: 50%;
  background: url(<path-to-image>), lightgray -11.2px 0px/180.002% 179.167% no-repeat;
}

.hero__main--avatar-user img {
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.hero__main--info-user {
  display: flex;
  flex-direction: column;
}
.hero__main--info-user .hero__main--name-user {
  display: inline-block;
  margin-bottom: 2px;
  color: #fff;
  font-family: var(--Inter);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero__main--info-user .hero__main--work-user {
  color: #fff;
  font-family: var(--Inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.hero__main-span-user {
  display: inline-block;
  margin-left: auto;
  color: #fff;
  text-align: right;
  font-family: var(--Inter);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero__main--input-group-main {
  position: relative;
  margin-top: 73px;
}
.hero__main--input-group-main .hero__main--input-main {
  max-width: 416px;
  width: 100%;
  height: 66px;
  padding: 25px 0px 24px 26px;
  border-radius: 8px;
  background: #292932;
  outline: none;
  border: none;
}
.hero__main--input-group-main .hero__main--input-main:focus {
  outline: none;
  border: none;
}
.hero__main--input-group-main .hero__main--input-main::placeholder {
  color: #b0b0b0;
  font-family: var(--Inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero__main--label-file {
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 145px;
}

.hero__main--label-img {
  cursor: pointer;
  position: absolute;
  top: 27px;
  right: 110px;
}

#input-file {
  display: none;
}

#input-img {
  display: none;
}

.hero__main--label-main {
  position: absolute;
  cursor: pointer;
  border: none;
  top: 16px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #fc5a5a;
}

.features {
  padding-top: 40px;
  padding-bottom: 75px;
  background-color: #1c1c24;
}

.features__main {
  display: flex;
  position: relative;
}

.features__main--left {
  position: relative;
  z-index: 2;
  width: 488px;
  height: 436px;
  margin-left: 60px;
  border-radius: 12px;
  background: #292932;
}
.features__main--left .features__main--cover {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  transform: translateY(71px);
  width: 349px;
  height: 365px;
  padding: 13px 20px 16px 0px;
  border-radius: 0px 20px 0px 12px;
  background: #1c1c24;
}

.features__main--extra-many-line {
  position: absolute;
  z-index: 1;
  top: -26.29px;
}
.features__main--extra-many-line svg {
  position: absolute;
  z-index: -2;
}

.features__main--three-line {
  position: relative;
  display: block;
  text-align: right;
  margin-right: 28px;
}
.features__main--three-line::after {
  position: absolute;
  content: "";
  bottom: -13px;
  left: 0;
  width: 116%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}

.features__main--bottom {
  display: flex;
  column-gap: 16px;
  margin-top: 27px;
}

.features__main--bottom-left {
  position: relative;
  width: 139px;
  height: 289px;
  border-radius: 0px 12px 12px 0px;
  background: #79d861;
}
.features__main--bottom-left .features__main--bottom-left-extra {
  position: absolute;
  top: 55px;
  left: -29px;
}

.features__main--bottom-right {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.features__main--right {
  width: 32.9838709677%;
  margin-left: 188px;
}

.features__main--right-intro {
  display: inline-block;
  margin-bottom: 8px;
  color: #79d861;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.features__main--right-title {
  width: 409px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 129.412% */
}

.features__main--right-desc-first {
  width: 328px;
  margin-bottom: 28px;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.features__main--right-desc-last {
  width: 379px;
  margin-bottom: 48px;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.features__main--right-btn {
  width: 212px;
  height: 58px;
}
.features__main--right-btn span {
  display: inline-block;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.returnSr {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1c1c24;
}

.returnSr__main {
  margin-left: 80px;
}

.returnSr__main--intro {
  margin-bottom: 8px;
  color: #79d861;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.returnSr__main--title {
  width: 409px;
  margin-bottom: 64px;
  color: #fff;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 129.412% */
}

.returnSr__main--list {
  display: grid;
  grid-template-columns: repeat(2, 480px);
  grid-template-rows: repeat(2, 170px);
  column-gap: 28px;
  row-gap: 40px;
}

.returnSr__main--item {
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #292932;
  gap: 24px;
  padding: 37px 72px 37px 28px;
  transition: transform 0.4s, background-color 0.4s;
}
.returnSr__main--item:hover {
  transform: translateY(-10px);
  background-color: #292932;
}
.returnSr__main--item:hover .returnSr__main--logo-item {
  background-color: #fc5a5a;
}

.returnSr__main--logo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 10px;
  background: #292932;
  transition: background-color 0.4s;
}

.returnSr__main--info .returnSr__main--info-title {
  display: inline-block;
  margin-bottom: 8px;
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.returnSr__main--info .returnSr__main--info--desc {
  width: 260px;
  color: #fff;
  font-size: 1.6rem;
  opacity: 0.75;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.visitor {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1c1c24;
}

.visitor--intro {
  display: block;
  margin-bottom: 8px;
  color: #79d861;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.visitor--title {
  margin-bottom: 83px;
  color: #fff;
  text-align: center;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 133.333% */
}

.visitor__main {
  display: flex;
  column-gap: 138px;
}

.visitor__main--left {
  width: 426px;
  height: 377px;
  margin-left: 125px;
  padding: 58px 40px;
  border-radius: 8px;
  background: #292932;
}

.visitor__main--left-item-top {
  display: grid;
  grid-template-columns: repeat(2, 126px);
  grid-template-rows: 98px;
  column-gap: 94px;
}

.visitor__main--left-item-top-child,
.visitor__main--left-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visitor__main--left-item-top-child {
  position: relative;
  width: 126px;
  height: 98px;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.4s;
}
.visitor__main--left-item-top-child:hover {
  transform: translateY(-10px);
}
.visitor__main--left-item-top-child.yellow {
  background: #f6ff82;
}
.visitor__main--left-item-top-child.blue {
  background: #d2efff;
}
.visitor__main--left-item-top-child.purple {
  background: #dcb0ff;
}

.visitor__main--left-item-bottom {
  display: flex;
  justify-content: center;
}
.visitor__main--left-item-bottom .visitor__main--left-item-top-child {
  width: 186px;
  height: 150px;
  border-radius: 10px;
  background: #dcb0ff;
}
.visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-logo {
  width: 52px;
  height: 52px;
  border-radius: 4px;
  background: #1c1c24;
}
.visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info {
  margin-top: 20px;
}
.visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info .visitor__main--left-intro-item {
  color: #000;
  text-align: center;
  font-family: var(--Inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
}
.visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info .visitor__main--left-desc-item {
  width: 121px;
  color: #000;
  text-align: center;
  font-family: var(--Inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.visitor__main--left-logo {
  top: -28px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #1c1c24;
}

.visitor__main--left-intro-item {
  margin-bottom: 4px;
  color: #000;
  text-align: center;
  font-family: var(--Inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.1px;
}

.visitor__main--left-strong-item {
  margin-bottom: 1px;
  color: #000;
  text-align: center;
  font-family: var(--Inter);
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.2px;
}

.visitor__main--left-desc-item {
  width: 84px;
  color: #000;
  text-align: center;
  font-family: var(--Inter);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.1px;
}

.visitor__main--left-item-bottom {
  margin-top: 41px;
}

.visitor__main--right {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 426px;
  height: 377px;
  padding: 32px 26.43px;
  border-radius: 8px;
  background: #292932;
}

.visitor__main--right-item {
  display: flex;
  width: 274.453px;
  height: 90.97px;
  flex-shrink: 0;
  padding: 25.44px 17.73px 26.21px 23.9px;
  border-radius: 6.167px;
  user-select: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: transform 0.4s, outline-color 0.4s;
}
.visitor__main--right-item.organe {
  transform: translateX(50px);
  background: #ff974a;
}
.visitor__main--right-item.organe:hover {
  outline-color: #fff;
  transform: translateX(0);
}
.visitor__main--right-item.green {
  transform: translateX(-50px);
  background: #79d861;
}
.visitor__main--right-item.green:hover {
  outline-color: #fff;
  transform: translateX(0);
}
.visitor__main--right-item.blue {
  background: #1e75ff;
  transform: translateX(50px);
}
.visitor__main--right-item.blue:hover {
  outline-color: #fff;
  transform: translateX(0);
}

.visitor__main--right-item--logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40.089px;
  height: 40.089px;
  margin-right: 16.96px;
  border-radius: 50%;
  background-color: #fff;
}

.visitor__main--right-item-three-dot {
  margin-left: auto;
  transform: translateY(-10px);
}

.visitor__main--right-item-title {
  display: inline-block;
  margin-bottom: 7.67px;
  color: #fff;
  font-family: var(--Inter);
  font-size: 13.877px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.visitor__main--right-item-desc {
  color: #fff;
  font-family: var(--Inter);
  font-size: 11.564px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.popups {
  padding-top: 80px;
  padding-bottom: 56px;
  background-color: #1c1c24;
}

.popups__main {
  position: relative;
  margin-left: 125px;
}

.popups__main--intro {
  color: #79d861;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.popups__main--extra-img {
  position: absolute;
  right: -99px;
  top: 25%;
}

.popups__main--title {
  width: 409px;
  margin-bottom: 60px;
  color: #fff;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 129.412% */
}

.popups__main--list {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: 179px;
  column-gap: 60px;
}

.popups__main--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.4s;
  cursor: pointer;
}
.popups__main--item:hover {
  transform: translateY(-10px);
}

.popups__main--block-img {
  margin-bottom: 28px;
  color: #d9d9d9;
}
.popups__main--block-img img {
  fill: #d9d9d9;
}

.popups__main--used {
  color: #fff;
  text-align: center;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.popups__main--desc {
  width: 150px;
  color: #b6b7bc;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  letter-spacing: 2px;
  text-transform: uppercase;
}

.process {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #1c1c24;
}

.process__main--intro {
  display: block;
  margin-bottom: 8px;
  color: #79d861;
  text-align: center;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.process__main--title {
  width: 510px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: center;
  font-size: 3.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 44px; /* 129.412% */
}

.process__main--list {
  display: grid;
  justify-content: center;
  gap: 40px;
  grid-template-columns: repeat(2, 420px);
  grid-template-rows: repeat(2, 299px);
}

.process__main--item {
  padding: 40px;
  border-radius: 8px;
  border: 1px solid #292932;
  cursor: pointer;
  transition: background-color 0.4s;
}
.process__main--item:hover {
  background: #292932;
}
.process__main--item:hover .process__main--block-img {
  background-color: #fc5a5a;
}

.process__main--block-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  margin-bottom: 36px;
  border-radius: 8px;
  background-color: #292932;
  transition: background-color 0.4s;
}

.process__main--intro-item {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.process__main--desc-item {
  width: 340px;
  color: #b0b0b0;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (min-width: 978px) {
  .main__header--navigation-check,
  .main__header--navigation-mobile,
  .header__mobile,
  br {
    display: none;
  }
}
@media screen and (max-width: 977.98px) and (min-width: 768px) {
  .main__header--navigation-check,
  .main__header--navigation-mobile,
  .header__mobile {
    display: none;
  }
}
@media screen and (max-width: 767.98px) {
  .main__header--block-logo .main__header--logo {
    color: #fff;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .main__header {
    justify-content: flex-start;
  }
  .main__header .main__header--list {
    display: none;
  }
  .main__header .main__header--block-logo {
    margin-right: 15px;
  }
  .main__header--action {
    margin-left: auto;
  }
  .main__header--action .main__header--btn-mobile {
    display: none;
  }
  .main__header--navigation-check {
    display: none;
  }
  .header__mobile {
    position: absolute;
    z-index: 10;
    padding-top: 30px;
    left: 0;
    right: 0;
    padding-bottom: 184px;
    background-color: rgba(28, 28, 36, 0.9);
    transform: translateX(-100%);
    transition: transform 0.5s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
  }
  .main__header--navigation-check:checked ~ .header__mobile {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
  .header__mobile--list {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  .header__mobile--list .header__mobile--item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }
  .header__mobile--list .header__mobile--item:hover svg,
  .header__mobile--list .header__mobile--item:hover .header__mobile--link {
    color: #eb5757;
  }
  .header__mobile--list .header__mobile--item:hover .main__header--products-block {
    opacity: 1;
    visibility: visible;
  }
  .header__mobile--list .header__mobile--item svg {
    color: #f2f2f2;
  }
  .header__mobile--list .header__mobile--item .header__mobile--link {
    color: var(--gray-5, #e0e0e0);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
  .header__mobile--list .header__mobile--item svg,
  .header__mobile--list .header__mobile--item .header__mobile--link {
    transition: color 0.4s;
  }
  .main__header--products-dyspatch {
    margin-left: 20px;
    margin-bottom: 27px;
  }
  .main__header--products-block {
    display: flex;
    flex-direction: column;
    top: 0px;
    left: -20px;
    width: 335px;
    height: 883px;
    padding: 30px 0px 47px 0px;
    border-radius: 10px;
    transform: translateX(40px);
  }
  .main__header--products-block .main__header--products-block-top,
  .main__header--products-block .main__header--products-block-bottom {
    display: inline-block;
  }
  .main__header--products-list,
  .main__header--products-item-bottom {
    margin-left: 40px;
  }
  .main__header--products-list + .main__header--products-list,
  .main__header--products-item-bottom + .main__header--products-item-bottom {
    margin-top: 30px;
  }
  .main__header--products-item-bottom:last-of-type {
    transform: translateX(0);
  }
  .main__header--navigation-mobile {
    cursor: pointer;
  }
  /* Hero */
  .hero__main {
    flex-direction: column;
  }
  .hero__main--block-media {
    display: none;
  }
  .hero__main--block-title {
    width: auto;
    margin-left: 0;
    padding-bottom: 40px;
  }
  .hero__main--block-title .hero__main--title {
    width: 335px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 114.286% */
  }
  .hero__main--block-title .hero__main--desc {
    width: 236.169px;
    color: #b0b0b0;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
  .hero__main--process {
    width: 335px;
    padding-top: 40px;
  }
  .hero__main--process {
    margin-left: 0;
  }
  .hero__main--process-block-extra {
    width: 183px;
    height: auto;
    top: -120px;
    right: 23px;
  }
  .hero__main--process-block-extra .hero__main--process-block-extra-cover {
    padding: 14.76px;
  }
  .hero__main--process-input-group .hero__main--process-input::placeholder {
    color: #fff;
    font-family: var(--Inter);
    font-size: 8.855px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hero__main--icon {
    top: 20px;
  }
  .hero__main--process-extra-arrow-red svg, .hero__main--process-extra-arrow-green svg {
    width: 40.21px;
    height: 25.46px;
  }
  .hero__main--process-extra-arrow-red {
    top: -55.5px;
    left: 80px;
  }
  .hero__main--process-extra-arrow-green {
    bottom: 7.5px;
    right: 115px;
  }
  .hero__main--process-block-circle-extra {
    bottom: 7px;
    right: 4px;
  }
  .hero__main--process-block-circle-extra svg {
    width: 63.46px;
    height: 63.46px;
  }
  .hero__main--info-user .hero__main--name-user {
    color: #fff;
    font-family: var(--Inter);
    font-size: 8.855px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .hero__main--info-user .hero__main--work-user {
    color: #fff;
    font-family: var(--Inter);
    font-size: 7.379px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hero__main-span-user {
    color: #fff;
    text-align: right;
    font-family: var(--Inter);
    font-size: 8.855px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hero__main--list-user {
    row-gap: 10.33px;
  }
  .hero__main--list-user .hero__main--item-user {
    padding: 5.9px 13.37px 6.5px 7.38px;
  }
  .hero__main--process-list-extra {
    margin-left: 0;
    row-gap: 20px;
  }
  .hero__main--process-list-extra .hero__main--process-back {
    margin-left: 29.32px;
  }
  .hero__main--process-img-block svg {
    width: 165.29px;
    height: 33.94px;
  }
  .hero__main--input-group-main {
    margin-top: 30px;
  }
  .hero__main--input-group-main .hero__main--input-main {
    max-width: 306.96px;
    height: auto;
    padding: 18.45px 0px 17.25px 19.19px;
  }
  .hero__main--input-group-main .hero__main--input-main::placeholder {
    color: #b0b0b0;
    font-family: var(--Inter);
    font-size: 10.33px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .hero__main--label-file {
    top: 20px;
    left: 205px;
  }
  .hero__main--label-file img {
    width: 11.806px;
    height: 11.806px;
  }
  .hero__main--label-img {
    top: 20px;
    left: 235px;
  }
  .hero__main--label-img img {
    width: 11.806px;
    height: 11.806px;
  }
  .hero__main--label-main {
    top: 15px;
    left: 260px;
    width: 26.564px;
    height: 26.564px;
  }
  .hero__main--label-main img {
    width: 8.855px;
    height: 8.855px;
  }
  .header__overlay {
    z-index: 1;
    visibility: hidden;
    position: fixed;
    inset: 0;
    background: rgba(28, 28, 36, 0.3);
  }
  .main__header--navigation-check:checked ~ .header__overlay {
    visibility: visible;
  }
  /* Features */
  .features__main {
    flex-direction: column-reverse;
  }
  .features__main .features__main--right {
    margin-left: 0;
  }
  .features__main .features__main--right .features__main--right-intro {
    white-space: nowrap;
    margin-bottom: 15.96px;
    color: #79d861;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .features__main .features__main--right .features__main--right-title {
    width: 335px;
    margin-bottom: 20.04x;
    color: #fff;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
  }
  .features__main .features__main--right .features__main--right-desc-first {
    width: 328px;
    margin-bottom: 20px;
    color: #b0b0b0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .features__main .features__main--right .features__main--right-desc-last {
    width: 335px;
    margin-bottom: 20px;
    color: #b0b0b0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .features__main .features__main--right .features__main--right-btn {
    margin-bottom: 66.29px;
  }
  .features__main .features__main--left {
    margin-left: 36px;
    width: 298.321px;
    height: 266.533px;
    border-radius: 7.336px;
    background: #292932;
  }
  .features__main .features__main--left .features__main--cover {
    width: 213.349px;
    height: 223.13px;
    transform: translateY(43.4px);
  }
  .features__main--three-line::after {
    bottom: -8.56px;
  }
  .features__main--bottom {
    margin-top: 16px;
  }
  .features__main--bottom-right {
    row-gap: 9.78px;
  }
  .features__main--extra-many-line {
    top: 420px;
  }
  .features__main--three-line svg {
    width: 56.24px;
    height: 12.23px;
  }
  .features__main--bottom-left {
    width: 84.9726257324px;
    height: 176.669708252px;
    border-radius: 0px 7.3357663155px 7.3357663155px 0px;
  }
  .features__main--bottom-left-extra {
    top: -28px !important;
  }
  .features__main--bottom-left-extra svg {
    width: 84.9726257324px;
    height: 176.669708252px;
    border-radius: 0px 7.3357663155px 7.3357663155px 0px;
  }
  .features__main--bottom-right-child-top svg {
    width: 106.3686141968px;
    height: 116.1496276855px;
  }
  .feature__main--bottom-right-child-bottom svg {
    width: 106.369px;
    height: 48.905px;
  }
  /*ReturnSr*/
  .returnSr__main {
    margin-left: 0;
  }
  .returnSr__main--intro {
    margin-bottom: 15px;
    color: #79d861;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .returnSr__main--title {
    width: 335px;
    margin-bottom: 40px;
    color: #fff;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
  }
  .returnSr__main--list {
    grid-template-columns: 335px;
    grid-template-rows: auto;
    row-gap: 30px;
  }
  .returnSr__main--item {
    column-gap: 17.75px;
    padding: 27.31px 43.25px 27.69px 10.71px;
  }
  .returnSr__main--logo-item {
    width: 71px;
    height: 71px;
    border-radius: 7.396px;
  }
  .returnSr__main--logo-item img {
    width: 32.542px;
    height: 32.542px;
  }
  .returnSr__main--info .returnSr__main--info-title {
    margin-bottom: 7.15px;
    color: #fff;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .returnSr__main--info .returnSr__main--info--desc {
    width: 192.292px;
    color: #fff;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 150% */
  }
  /*Visitor */
  .visitor__main {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
  .visitor--title {
    margin-bottom: 40.3px;
  }
  .visitor__main--left {
    width: 335px;
    height: 331px;
    padding: 50.93px 15.12px 26.35px 15.12px;
    margin-left: 0;
  }
  .visitor__main--left-item-top {
    grid-template-columns: repeat(2, 110.62px);
    grid-template-rows: 86.038px;
  }
  .visitor__main--left-item-top {
    column-gap: 83.53px;
  }
  .visitor__main--left-item-top-child {
    width: 110.62px;
    height: 86.038px;
    border-radius: 8.779px;
    background: #f6ff82;
  }
  .visitor__main--left-item-bottom {
    margin-top: 36px;
  }
  .visitor__main--left-item-bottom .visitor__main--left-item-top-child {
    width: 163.296px;
    height: 131.69px;
    flex-shrink: 0;
  }
  .visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info .visitor__main--left-intro-item {
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 12.291px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.123px;
  }
  .visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info .visitor__main--left-strong-item {
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 22.826px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.228px;
  }
  .visitor__main--left-item-bottom .visitor__main--left-item-top-child .visitor__main--left-info .visitor__main--left-desc-item {
    width: 106.23px;
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 12.291px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .visitor__main--left-intro-item {
    margin-top: 8.78px;
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 8.779px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.088px;
  }
  .visitor__main--left-strong-item {
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 17.559px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.176px;
  }
  .visitor__main--left-desc-item {
    width: 73.746px;
    color: #000;
    text-align: center;
    font-family: var(--Inter);
    font-size: 8.779px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.088px;
  }
  .visitor__main--right {
    width: 335px;
    height: 296.467px;
    border-radius: 6.291px;
  }
  .visitor__main--right-item {
    width: 215.826px;
    height: 71.538px;
    padding: 19.4px 13.94px 20.61px 18.79px;
  }
  .visitor__main--right-item-title {
    margin-bottom: 6.4px;
    color: #fff;
    font-family: var(--Inter);
    font-size: 10.913px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .visitor__main--right-item-desc {
    color: #fff;
    font-family: var(--Inter);
    font-size: 9.094px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  /*Popups*/
  .popups__main {
    margin-left: 0;
  }
  .popups__main--extra-img {
    display: none;
  }
  .popups__main--list {
    justify-content: center;
    row-gap: 50px;
    grid-template-columns: 200px;
    grid-template-rows: repeat(4, 179px);
  }
  .popups__main--intro {
    margin-bottom: 16px;
    color: #79d861;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .popups__main--title {
    width: 335px;
    color: #fff;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
  }
  /*Process*/
  .process__main--list {
    grid-template-columns: 335px;
    grid-template-rows: 269px;
    gap: 30px;
  }
  .process__main--item {
    padding: 14px;
  }
  .process__main--block-img {
    width: 84.8px;
    height: 84.8px;
    border-radius: 7.067px;
  }
  .process__main--title {
    width: 335px;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 500;
    line-height: 38px; /* 126.667% */
  }
  .process__main--desc-item {
    width: 306px;
    color: #b0b0b0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .process__main--intro-item {
    color: #fff;
    font-size: 1.9rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

/*# sourceMappingURL=main.css.map */
