.header {
  background-color: #1c1c24;
  padding-top: 29px;
  padding-bottom: 29px;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .main__header--list {
    display: flex;
    column-gap: 40px;
  }
}
.main__header--block-logo {
  .main__header--logo {
    color: #fff;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
.main__header--item {
  &.main__header--table {
    position: relative;
  }
  display: flex;
  align-items: center;
  column-gap: 4px;
  &:hover {
    svg,
    .main__header--link {
      color: #fff;
    }
    &::after {
      display: block;
    }
  }

  .main__header--link {
    color: #b0b0b0;
    text-align: right;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: color 0.4s;
  }
  svg {
    transition: color 0.4s;
  }
}
.main__header--table {
  position: relative;
  &::after {
    cursor: pointer;
    display: none;
    position: absolute;
    bottom: -20px;
    content: "";
    background-color: transparent;
    height: 20px;
    width: 80px;
  }
}
.main__header--table {
  color: #b0b0b0;

  &:hover {
    .main__header--products-block {
      opacity: 1;
      visibility: visible;
    }
  }
}
.main__header--products-block {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 40px;
  left: -40px;
  z-index: 4;
  width: 730px;
  padding: 40px 43px 40px 45px;
  height: 433px;
  border-radius: 25px;
  background: #292932;
  transition: opacity 0.4s, visibility 0.4s;
}
.main__header--action {
  display: flex;
  align-items: center;
  column-gap: 16px;
  .main__header--action {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.main__header--products-block {
  display: flex;
  flex-direction: column;

  .main__header--products-block-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 1px solid #555;
  }
  .main__header--products-block-bottom {
    display: flex;
    column-gap: 80px;
    margin-top: 30px;
  }
}
.main__header--products-dyspatch {
  display: flex;
  column-gap: 10px;
  .main__header--products-dyspatch-title {
    color: #fff;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.main__header--products-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.main__header--products-items {
  a {
    transition: color 0.3s;
    color: #b0b0b0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.main__header--products-item--bottom-title {
  display: inline-block;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main__header--products-bottom-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  li > a {
    color: #b0b0b0;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: color 0.3s;
  }
  
  li:hover { 
    a {
      color: #fff;
    }
  }
}
.main__header--products-items:hover {
  a {
    color: #fff;
  }
}
.main__header--products-item-bottom:last-of-type {
  transform: translateX(40px);
}
